<!DOCTYPE html>
    <html>
        <head>
            <title>e</title>
        </head>
        <body>
            <p>Team id <%= @team.id.to_s %></p>
            <p>Name <%= @team.name %></p>
            <p>Notes <%= @team.notes %></p>
            <p>Team Members <%= @user.name.team %></p>
        </body>
    </html>